export(fiadeiro, setup.compaction.1D, setup.grid.1D, setup.prop.1D,
      setup.grid.2D, setup.prop.2D, tran.1D, tran.volume.1D, tran.2D, tran.3D)

export(p.exp,p.lin,p.sig,g.sphere,g.spheroid,g.cylinder)

S3method("plot","grid.1D")
S3method("plot","prop.1D")
S3method("contour","prop.2D")
